.box{
    float: left;
    background-color: aquamarine;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin:10px;
    border: 1px solid black;
}

.image{
    margin-top: 50px;
    margin-left: 50px;
}

.invisible{
    display:none;
}
